<!DOCTYPE html>
<html lang="en">
  <%- include('./head.ejs') %>

  <body>
  <table
          role="presentation"
          border="0"
          cellpadding="0"
          cellspacing="0"
          class="body"
  >
    <tr>
      <td class="container">
        <div class="content">
          <!-- START CENTERED WHITE CONTAINER -->
          <table role="presentation" class="main">
            <!-- START MAIN CONTENT AREA -->
            <tr>
              <td class="wrapper">
                <table>
                  <tr>
                    <td>
                      <h2>MCapital</h2>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Trouble logging in?<br />
                      Resetting your password is easy.<br />
                      Simply click the button below and follow the instructions. We will get you back to work in no time.
                    </td>
                  </tr>
                  <tr>
                    <td class="btn btn-primary">
                      <div class="mt20 mb20">
                        <a href="<%= locals.url %>"> Reset Password </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>
                        If you didn't make this request, please disregard this email.
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- END MAIN CONTENT AREA -->
          </table>
          <!-- END CENTERED WHITE CONTAINER -->
        </div>
      </td>
    </tr>
  </table>
  </body>
</html>
